* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

img {
    max-width: 100%;
    display: block;
}

header {
    padding: 20px;
    border-bottom: 1px solid #999;
}

header h1 {
    margin: 0 0 15px 0;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}
.top-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.news-layout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

}

.news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.ad-box{
    background-color: #d9d9d9;
    min-height: 300px;
    margin-bottom: 20px;
    padding: 20px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.topic{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
}

.news-card {
    background-color: white;
    padding: 15px;
    width: 100%;
}

.news-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero,
.latest-news,
.more-news {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.latest-news article,
.cards article {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
    }

    .cards {
        grid-template-columns: 1fr;
    }
    .top-news {
        grid-template-columns: 1fr;
    }
    .news-layout {
        grid-template-columns: 1fr;
    }

    .news-grid {
        grid-template-columns: 1fr;
    }
}